/* You can add global styles to this file, and also import other style files */
.svg-icon path {
	fill: black;
}

.svg-edit-icon path {
	fill: blue;
}

.svg-delete-icon path {
	fill: red;
}

.svg-done-icon path {
	fill: green;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

todo-list {
	padding: 24px;
}






